*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w_100{
    width: 100% !important;
}

body{
    overflow-x: hidden;
}
.container{
    width: 80%;
    max-width: 1080px;
    background-color: lightblue;

    /* centratura vert. e orizz. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);


    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.btn_start{
    display: flex;
    justify-content: center;
}
button#start{
    padding: 5px 10px;
    font-size: 1.1rem;
    align-self: center;
}

.output{
    text-align: center;
    font-size: 1.5rem;
    width: 100%;    
    align-self: flex-start;
    margin-top: 2rem;
}


/* debug */


.debug .container{
    min-height: 500px;
}
.debug .output{
    background-color: red;
    
}